* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
.slideshow{
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: changeBg 25s infinite;
  transition: background-image 1s ease-in-out;
}
body{
  text-decoration-color: #fff;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.9);
  padding: 20px 60px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: gold;
}

.logo span {
  color: gold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  border: 1px solid gold;
  color: gold;
  text-decoration: none;
}

.section {
  padding: 100px 60px;
  text-align: center;
}

.dark {
  background: #111;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 40px;
}

.gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.4s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.03);
}

.pricing {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
  color: #fff;
}

.card {
  border: 1px solid #333;
  padding: 30px;
  width: 250px;
}

.featured {
  border: 2px solid gold;
}

.price {
  color: gold;
  font-size: 22px;
  margin: 15px 0;
}

form {
  max-width: 400px;
  margin: auto;
}

form input, form textarea, form button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

form button {
  background: gold;
  border: none;
  cursor: pointer;
}

.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #25D366;
  padding: 15px 20px;
  border-radius: 50px;
  color: white;
  text-decoration: none;
}

footer {
  padding: 20px;
  background: #000;
  text-align: center;
  color: gold;
}
